@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using MovieBooker.DataAccess.Model;
@using Microsoft.AspNetCore.Identity;

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@page "/logout"

<h3>Logout</h3>

<p>Are you sure you want to logout?</p>

@code {
    protected override void OnInitialized()
    {
        HandleLogout();
    }

    private async Task HandleLogout()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (SignInManager.IsSignedIn(user))
        {
            await SignInManager.SignOutAsync();
            var identity = await UserManager.FindByNameAsync(user.Identity.Name);
            await UserManager.UpdateSecurityStampAsync(identity);
        }
        Navigation.NavigateTo("/");
    }
}